/* Add here all your css styles (customizations) */

.images-banner{
		display: block !important;
	}

@media (min-width: 992px) {
	.galerias{
		min-height: 130px;
	}
	
}

@media (max-width: 1300px){
	.images-banner{
		display: none !important;
	}
}